<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/ranking.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <h2>PAGE NOT FOUND</h2>
    </div><!-- /.container -->
    <%- include('partials/footer') %>
  </body>
</html>
