<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
  <body>
    <script type="text/javascript" src="/scripts/ranking.js"></script>
<%- include('partials/header') %>
    <div class="container">
      <div class="page-header">
        <h1>Make Up Your Mind</h1>
      </div>
      <h2>Where do you want to eat tonight?</h2>
      <p>Poll creator: null@null.com</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="options-container">
            <h3>Unranked Options</h3>
            <ul class="droptrue list-group" id="unranked-options">
              <% choices.forEach( function( choice ) {%>
                <%- include( 'partials/pollChoice', choice ); %>
              <% }); %>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="options-container">
            <h3>Ranked Options</h3>
            <ul class="droptrue list-group" id="ranked-options">
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
