$color_primary: #34495e;
$color_secondary: #437c90;
$color_accent: #F9BF2A;

$color_dropareas: #ccc;
$color_header: $color_primary;
$header_height: 150px;
$font_main: 'Amiko', 'Helvetica Neue', Helvetica, sans-serif;
$font_headers: 'Bungee', $font_main;

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  font-family: $font_main;
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_headers;
}

.navbar.navbar-default {
  // height: $header_height;
}

.page-header {
  margin-top: 0;
  height: $header_height;
  background-color: $color_header;
  h1 {
    font-size: 3.5em;
    margin:0;
    display: inline-block;
    color: #fff;
    line-height: $header_height;
  }
  a {
    line-height: $header_height;
  }
}

.droptrue {
  /*background-color: $color_dropareas;*/
  padding: 1em;
}

#ranked-options {
  border: 1px dotted #777;
}

#unranked-options {

}

.options-container {
  background-color: $color_dropareas;
  border-radius: 6px;
  border: 1px solid #e3e3e3;
  padding: 1em;
  h3 {
    text-align: center;
  }
}

.poll-result {
  border: 1px solid #e3e3e3;
  padding: 1em;
  margin-bottom: 1em;

  &.winner {
    background-color: $color_accent;
    color: white;
  }

  .points {
    font-family: $font_headers;
    text-align: right;
    font-size: 200%;
    padding: 1em 1em 1em 0;
  }
}

@media (max-width: 768px) {
  .poll-result {
    text-align: center;
  }
  .poll-result .points {
    text-align: center;
  }
}
