$color_primary: #34495e;
$color_secondary: #437c90;
$color_accent: #F9BF2A;
$color_bg: #fff;
$color_text_muted: lighten($color_primary, 35%);
$color_dropareas: #ccc;
$color_header: $color_primary;

$header_height: 150px;
$footer_height: 100px;
$font_main: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$font_headers: 'Bungee', $font_main;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

@media (min-width: 970px) {
  .container {
    width: 900px;
  }
}

body {
  font-family: $font_main;
  margin-bottom: $footer_height + 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_headers;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer_height;
  border-top: 1px solid $color_primary;
  padding: 3em 0;
  background-color: $color_primary;
  color: $color_secondary;
  p {
    margin: 0;
  }
}

@mixin shadowing() {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.2);
}

.page-header {
  $header_h1_size: 38px;
  padding: (($header_height - $header_h1_size) * 0.5) 0 0 0;
  margin-top: 0;
  height: $header_height;
  background-color: $color_header;
  h1 {
    height: $header_h1_size;
    font-size: $header_h1_size;
    margin: 0;
    display: block;
    color: #fff;
    line-height: 90%;
    a {
      color: #fff;
      &:hover {
        color: $color_secondary;
      }
    }
    small {
      color: $color_secondary;
      &:hover {
        color: $color_accent;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

#ranked-options {
  .poll-option {
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    @include shadowing();

    &:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: grab;
    }

    &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }

    .col-xs-2 {
      text-align: right;
    }

    span {
      font-family: $font_headers;
      font-size: 2em;
      color: #FF6C6A;
    }
  }
}

.section-container {
  border: 1px solid $color_dropareas;
  padding: 1.5em 1.5em 0 1.5em;
  margin-bottom: 2em;
  @include shadowing();

  header {
    text-align: center;
    margin: 0 0 2em;
    border-bottom: 1px solid $color_dropareas;
    padding: 1em 0 2em;
    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
    }
  }

  &.options {
    background-color: $color_secondary;
    padding-bottom: 1.5em;
    header {
      border-color: $color_primary;
    }
  }
}

.poll-result {
  border: 1px solid $color_secondary;
  padding: 0;
  margin-bottom: 2em;
  background-color: $color_bg;
  @include shadowing();

  header {
    padding: 1em;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: $color_secondary;

    small span {
      color: #fff;
    }
  }

  .progress-bar {
    background-color: $color_secondary;
  }

  section {
    padding: 1em;

    h3 {
      margin-top: 0;
    }

    .points {
      font-family: $font_headers;
      text-align: right;
      font-size: 200%;
    }
  }

  &.winner {
    border-color: $color_accent;
    header {
      background-color: $color_accent;
    }

    .progress-bar {
      background-color: $color_accent;
    }
  }
}

@media (max-width: 768px) {
  .poll-result {
    text-align: center;
  }
  .poll-result section .points {
    padding-right: 0;
    text-align: center;
  }
}

.well {
  border: 1px solid lighten($color_secondary, 10%);
  background-color: $color_secondary;
  color: #fff;
  border-radius: 0;
  @include shadowing();

  .form-group .help-block {
    color: #fff;
  }
}

form {
  margin-bottom: 1em;
}

.form-control {
  border: 2px solid $color_primary;
  color: $color_primary;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lighten($color_primary, 35%);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: lighten($color_primary, 35%);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: lighten($color_primary, 35%);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: lighten($color_primary, 35%);
  }
}

.btn.btn-default {
  background-color: $color_primary;
  color: #fff;
  border-color: darken($color_primary, 5%);
  border-bottom-width: 3px;
  @include shadowing();
  &:hover {
    background-color: darken($color_primary, 5%);
  }
}
